* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    background-color: yellow;
    padding: 50px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex div {
    width: 47%;
} .flex textarea {
    width: 100%;
    background-color: rgb(213, 213, 213);
    border: 2px solid black;
    outline: none;
    padding: 10px;
    height: 300px;
    resize: none;
    text-align: center;
}

#swap {
    display: block;
    margin: 50px auto;
    font-size: 2em;
    padding: 10px 30px;
    border: 2px solid black;
} #swap:hover {
    cursor: pointer;
}
